nifiScripts/fulfill_test_data_to_tsds_tags.json
{"flowContents":{"identifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","instanceIdentifier":"bdfea733-018e-1000-ffff-ffff8181b7a5","name":"fulfill test data to tsds tags","comments":"","position":{"x":3248.0,"y":-352.0},"processGroups":[{"identifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5","instanceIdentifier":"2e24385a-4fac-15b8-ffff-fffff07b8b11","name":"try_to_get_my_rest","comments":"{\"templateId\":\"fb005cdc-bbc8-3f5f-bf71-2a29d7cdcdb2\",\"templateName\":\"GetSimmulationData_2_15\",\"parentId\":\"11cb2f94-f41f-41be-879b-b856b1514f79\"}","position":{"x":1465.643911529865,"y":1163.808158503033},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4fae6730-2de7-3da5-96d4-3855d7d03e63","instanceIdentifier":"bf25794e-70d2-3190-b523-1142eff33e7a","name":"FetchDistributedMapCache","comments":"","position":{"x":-104.0,"y":-200.0},"type":"org.apache.nifi.processors.standard.FetchDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Cache Entry Identifier":"${processGroupId}_schedules","Put Cache Value In Attribute":null,"Distributed Cache Service":"7e51aae0-3cdd-3698-86bc-7067d776a201","Max Length To Put In Attribute":"256","Character Set":"UTF-8"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Put Cache Value In Attribute":{"name":"Put Cache Value In Attribute","displayName":"Put Cache Value In Attribute","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["not-found","failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"f33d4b97-2331-398f-86ae-f36eec155064","instanceIdentifier":"f9f31208-ecf8-3cb4-b687-5d1934138e99","name":"PutDistributedMapCache","comments":"","position":{"x":-1258.1170286228325,"y":-225.87419667347024},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Cache Entry Identifier":"${processGroupId}_schedules","Cache update strategy":"replace","Distributed Cache Service":"7e51aae0-3cdd-3698-86bc-7067d776a201","Max cache entry size":"128 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"21a35dea-d956-3e77-be80-33d1cc99d8cf","instanceIdentifier":"592852a3-463f-3b91-957c-8f63d27a40a9","name":"jsontoattr_script","comments":"","position":{"x":2296.0,"y":64.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.19.1"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.*\ndef flowFile = session.get();\nif (flowFile == null) {\n    return;\n}\ndef slurper = new groovy.json.JsonSlurper()\ndef attrs = [:] as Map<String,String>\nsession.read(flowFile,\n    { inputStream ->\n        def text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n        def obj = slurper.parseText(text)\n        obj.each {k,v ->\n           attrs[k] = v.toString()\n        }\n    } as InputStreamCallback)\nflowFile = session.putAllAttributes(flowFile, attrs)\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"0c4ca5c4-f3f7-3e84-8fc6-887d49c04441","instanceIdentifier":"d4e68cbf-51f3-3bb0-87ee-f9f4ca7a4482","name":"ExecuteGroovyScript","comments":"","position":{"x":260.89112930300894,"y":-8.82881030286535},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"1.19.1"},"properties":{"groovyx-script-body":"def flowFile = session.get()\nif(!flowFile) return\nprocessGroupId = context.procNode?.processGroupIdentifier ?: 'unknown'\nflowFile = session.putAttribute(flowFile, 'processGroupId', processGroupId)\nsession.transfer(flowFile, REL_SUCCESS)","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"03a9fd35-ed85-35a4-ae5c-610d39ce1318","instanceIdentifier":"a9bf752c-abe1-310b-bcaf-fa6daddfe6b4","name":"GetSimulationData","comments":"","position":{"x":280.0,"y":-192.0},"type":"com.zyfra.nifi.processors.GetSimulationData","bundle":{"group":"com.zyfra.nifi","artifact":"nifi-zyfra-simulation-nar","version":"4.0.0.0"},"properties":{"SIGNAL":"${SIM_Signal}","OUTPUT_FORMAT":"JSON","AMP":"${SIM_Amp}","CSV_CYCLE":"${SIM_CycleCsv}","CSV_DATEFORMAT":"${SIM_CsvDateFormat}","CSV_GENERATETIME":"False","PERIOD":"${SIM_Period}","OFFSET":"${SIM_Offset}","CSV Filename":"${SIM_CsvFile}","VALUES_COUNT":"${SIM_ValuesCount}"},"propertyDescriptors":{"SIGNAL":{"name":"SIGNAL","displayName":"SIGNAL","identifiesControllerService":false,"sensitive":false},"OUTPUT_FORMAT":{"name":"OUTPUT_FORMAT","displayName":"OUTPUT_FORMAT","identifiesControllerService":false,"sensitive":false},"AMP":{"name":"AMP","displayName":"AMP","identifiesControllerService":false,"sensitive":false},"CSV_CYCLE":{"name":"CSV_CYCLE","displayName":"Cycle reads from CSV","identifiesControllerService":false,"sensitive":false},"CSV_DATEFORMAT":{"name":"CSV_DATEFORMAT","displayName":"CSV Date format","identifiesControllerService":false,"sensitive":false},"CSV_GENERATETIME":{"name":"CSV_GENERATETIME","displayName":"Generate current time for values from CSV","identifiesControllerService":false,"sensitive":false},"PERIOD":{"name":"PERIOD","displayName":"PERIOD","identifiesControllerService":false,"sensitive":false},"OFFSET":{"name":"OFFSET","displayName":"OFFSET","identifiesControllerService":false,"sensitive":false},"CSV Filename":{"name":"CSV Filename","displayName":"CSV Filename","identifiesControllerService":false,"sensitive":false},"VALUES_COUNT":{"name":"VALUES_COUNT","displayName":"VALUES COUNT","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"5fcd7b61-2603-3570-8b36-4a7206c0d66f","instanceIdentifier":"69a1a0b1-de05-30ca-9e8f-a99bd3546024","name":"ExtractText","comments":"","position":{"x":976.0,"y":-760.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","attribute1":"(.*)","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"attribute1":{"name":"attribute1","displayName":"attribute1","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"bb34f57c-4832-30ca-a932-82f5434d23d2","instanceIdentifier":"51ebd984-89e3-37ea-b934-7aef2c184967","name":"SplitText","comments":"","position":{"x":352.0,"y":-760.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"31e00896-4e3f-32bc-ab6c-8c89b973d11e","instanceIdentifier":"5adf77b8-4c32-31d6-8881-7dab0d5f569c","name":"ExecuteGroovyScript","comments":"","position":{"x":-727.432944488495,"y":-437.7000509187101},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"1.19.1"},"properties":{"groovyx-script-body":"def flowFile = session.get()\nif(!flowFile) return\nprocessGroupId = context.procNode?.processGroupIdentifier ?: 'unknown'\nflowFile = session.putAttribute(flowFile, 'processGroupId', processGroupId)\nsession.transfer(flowFile, REL_SUCCESS)","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"036e7b81-467c-3ed2-9f12-a8b10c55db74","instanceIdentifier":"5f38b275-130a-36c4-b569-19f2acb9074e","name":"GetTSDSPoints","comments":"","position":{"x":-976.0,"y":-688.0},"type":"com.zyfra.nifi.processors.GetTSDSPoints","bundle":{"group":"com.zyfra.nifi","artifact":"nifi-zyfra-tsds-nar","version":"4.0.0.0"},"properties":{"AUTH_URL":"${AuthUrl}","NAME_MASK":"*","GET_WRITE_POINTS":"false","SCAN_CLASSES":"{\n\"1sec\":{\"period\":\"PT1s\",\"delay\":\"\"},\n\"1min\":{\"period\":\"PT1m\",\"delay\":\"\"}\n}","HTTP_TIMEOUT":"30000","TSDS_URL":"${RtdbMetadataUrl}","OUTPUT_FORMAT":"JSON","SSL Context Service":null,"GET_TOPICS_ATTRIBUTE":"false","EX_ATTRIBUTES":"IgnoreBad","CLIENT_ID":"${ClientId}","DEFAULT_SCANCLASS":"{\"period\":\"PT1s\",\"delay\":\"\"}","GET_DATA_CHECK_ATTRIBUTES":"false","POINT_SOURCE_LIST":"3dp","ONE_REQUEST_SIZE":"1000"},"propertyDescriptors":{"AUTH_URL":{"name":"AUTH_URL","displayName":"Auth url","identifiesControllerService":false,"sensitive":false},"NAME_MASK":{"name":"NAME_MASK","displayName":"Name mask","identifiesControllerService":false,"sensitive":false},"GET_WRITE_POINTS":{"name":"GET_WRITE_POINTS","displayName":"Get write points","identifiesControllerService":false,"sensitive":false},"CLIENT_SECRET_SENSITIVE":{"name":"CLIENT_SECRET_SENSITIVE","displayName":"ClientSecret","identifiesControllerService":false,"sensitive":true},"SCAN_CLASSES":{"name":"SCAN_CLASSES","displayName":"Scan classes","identifiesControllerService":false,"sensitive":false},"HTTP_TIMEOUT":{"name":"HTTP_TIMEOUT","displayName":"HTTP timeout","identifiesControllerService":false,"sensitive":false},"TSDS_URL":{"name":"TSDS_URL","displayName":"Zif-rtdb-metadata url","identifiesControllerService":false,"sensitive":false},"OUTPUT_FORMAT":{"name":"OUTPUT_FORMAT","displayName":"Output format","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"GET_TOPICS_ATTRIBUTE":{"name":"GET_TOPICS_ATTRIBUTE","displayName":"Get topics attribute","identifiesControllerService":false,"sensitive":false},"EX_ATTRIBUTES":{"name":"EX_ATTRIBUTES","displayName":"Additional attributes","identifiesControllerService":false,"sensitive":false},"CLIENT_ID":{"name":"CLIENT_ID","displayName":"ClientId","identifiesControllerService":false,"sensitive":false},"DEFAULT_SCANCLASS":{"name":"DEFAULT_SCANCLASS","displayName":"Default scan class","identifiesControllerService":false,"sensitive":false},"GET_DATA_CHECK_ATTRIBUTES":{"name":"GET_DATA_CHECK_ATTRIBUTES","displayName":"Get data check attributes","identifiesControllerService":false,"sensitive":false},"POINT_SOURCE_LIST":{"name":"POINT_SOURCE_LIST","displayName":"PointSource list","identifiesControllerService":false,"sensitive":false},"ONE_REQUEST_SIZE":{"name":"ONE_REQUEST_SIZE","displayName":"One requst size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["write_points"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"333da563-1896-35d9-bffb-df85c282460c","instanceIdentifier":"09d6f73a-54ed-3b40-8f18-033a9bc4f4df","name":"ReplaceText","comments":"","position":{"x":912.0,"y":0.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"[\n    {\n        \"pointName\": \"bed_temp\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${bed_temp}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"e0_temp\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${e0_temp}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"coordinates\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${coords}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"homing\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${homing}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"line_work\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${line_work}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"working\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${working}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"working_line_num\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${working_line_num}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"x_home_state\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${x_home_state}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"y_home_state\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${y_home_state}\"\n            }\n        ]\n    },\n    {\n        \"pointName\": \"z_home_state\",\n        \"type\": \"DOUBLE\",\n        \"values\": [\n            {\n                \"a\": null,\n                \"q\": 0,\n                \"ts\": ${tag_time},\n                \"v\": \"${z_home_state}\"\n            }\n        ]\n    }\n]","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"e026db8b-c62b-330b-8f9d-73ce5b6bdaf3","instanceIdentifier":"742a2804-8e5b-313c-8de8-4f63ac9d44b5","name":"PublishKafka_2_0","comments":"","position":{"x":256.62046026985445,"y":466.5165726999343},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.19.1"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"${KafkaBrokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"${KafkaTopic}","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"485a9bfb-55f1-3f31-9eee-d3e3a4828c32","instanceIdentifier":"cad2e504-c453-302b-991e-6d1ee189622e","name":"ProcessTSDSData","comments":"","position":{"x":264.0,"y":224.0},"type":"com.zyfra.nifi.processors.ProcessTSDSData","bundle":{"group":"com.zyfra.nifi","artifact":"nifi-zyfra-tsds-nar","version":"4.0.0.0"},"properties":{"TIMESTAMP_SCALE":"1000000","RESET_PERIOD":"60","USE_SOURCE_COMPRESSION":"true","MAX_VALUES_IN_MESSAGE":"10000","Distributed Cache Service":"7e51aae0-3cdd-3698-86bc-7067d776a201","USE_DATA_CHECK_ANNOTATIONS":"true","OUTPUT_FORMAT":"JSON","POINTS_CACHE_UPDATE_PERIOD":"60","SERVERTIME_AUTH_CLIENT_ID":null,"POINTS_CACHE_ATTEMPTS":"100","SERVERTIME_SYNC_PERIOD":"60","POINTS_CACHE_KEY":"${processGroupId}_points","TIMESTAMP_OFFSET":"0","OUTPUT_DICT_AS_STRING":"true","EXTRA_DATA_OUTPUT_FORMAT":"JSONv2 with point name","INPUT_FORMAT":"JSON point values","DATETIME_FORMAT":"yyyy-MM-dd HH:mm:ss.SSS","SERVERTIME_AUTH_URL":"https://ziiot.ru/auth/realms/ziiot","USE_DATA_CHECK_ONLY_GOOD":"true","MAP_QUALITIES_TO_GOOD":"0,192,193,194,195,216,217,218,219","USE_DATA_CHECK":"false","INSTRUMENT_TAG_WITH_POINTNAME":"false","DATA_CHECK_QUALITY_MAP":"freeze=2;overspeed=3;SH=4;SL=5;","DETECT_TIMESTAMP_SCALE":"true","SERVERTIME_URL":"","SSL Context Service":null},"propertyDescriptors":{"TIMESTAMP_SCALE":{"name":"TIMESTAMP_SCALE","displayName":"Scale timestamp factor","identifiesControllerService":false,"sensitive":false},"RESET_PERIOD":{"name":"RESET_PERIOD","displayName":"Reset period","identifiesControllerService":false,"sensitive":false},"USE_SOURCE_COMPRESSION":{"name":"USE_SOURCE_COMPRESSION","displayName":"Use compression on source","identifiesControllerService":false,"sensitive":false},"MAX_VALUES_IN_MESSAGE":{"name":"MAX_VALUES_IN_MESSAGE","displayName":"Max values in one message","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"SERVERTIME_AUTH_CLIENT_SECRET":{"name":"SERVERTIME_AUTH_CLIENT_SECRET","displayName":"ClientSecret","identifiesControllerService":false,"sensitive":true},"USE_DATA_CHECK_ANNOTATIONS":{"name":"USE_DATA_CHECK_ANNOTATIONS","displayName":"Use data check annotations","identifiesControllerService":false,"sensitive":false},"OUTPUT_FORMAT":{"name":"OUTPUT_FORMAT","displayName":"Output format","identifiesControllerService":false,"sensitive":false},"POINTS_CACHE_UPDATE_PERIOD":{"name":"POINTS_CACHE_UPDATE_PERIOD","displayName":"Points cache update period","identifiesControllerService":false,"sensitive":false},"SERVERTIME_AUTH_CLIENT_ID":{"name":"SERVERTIME_AUTH_CLIENT_ID","displayName":"ClientId","identifiesControllerService":false,"sensitive":false},"POINTS_CACHE_ATTEMPTS":{"name":"POINTS_CACHE_ATTEMPTS","displayName":"Points cache attempts","identifiesControllerService":false,"sensitive":false},"SERVERTIME_SYNC_PERIOD":{"name":"SERVERTIME_SYNC_PERIOD","displayName":"Server time sync period","identifiesControllerService":false,"sensitive":false},"POINTS_CACHE_KEY":{"name":"POINTS_CACHE_KEY","displayName":"Points cache key","identifiesControllerService":false,"sensitive":false},"TIMESTAMP_OFFSET":{"name":"TIMESTAMP_OFFSET","displayName":"Timestamp offset in nanoseconds","identifiesControllerService":false,"sensitive":false},"OUTPUT_DICT_AS_STRING":{"name":"OUTPUT_DICT_AS_STRING","displayName":"Dict values as string","identifiesControllerService":false,"sensitive":false},"EXTRA_DATA_OUTPUT_FORMAT":{"name":"EXTRA_DATA_OUTPUT_FORMAT","displayName":"Extra data output format","identifiesControllerService":false,"sensitive":false},"INPUT_FORMAT":{"name":"INPUT_FORMAT","displayName":"Input format","identifiesControllerService":false,"sensitive":false},"DATETIME_FORMAT":{"name":"DATETIME_FORMAT","displayName":"Datetime format","identifiesControllerService":false,"sensitive":false},"SERVERTIME_AUTH_URL":{"name":"SERVERTIME_AUTH_URL","displayName":"Server time auth url","identifiesControllerService":false,"sensitive":false},"USE_DATA_CHECK_ONLY_GOOD":{"name":"USE_DATA_CHECK_ONLY_GOOD","displayName":"Use data check only for good values","identifiesControllerService":false,"sensitive":false},"MAP_QUALITIES_TO_GOOD":{"name":"MAP_QUALITIES_TO_GOOD","displayName":"List of qualities to map as good","identifiesControllerService":false,"sensitive":false},"USE_DATA_CHECK":{"name":"USE_DATA_CHECK","displayName":"Use data check and noise cancellation","identifiesControllerService":false,"sensitive":false},"INSTRUMENT_TAG_WITH_POINTNAME":{"name":"INSTRUMENT_TAG_WITH_POINTNAME","displayName":"Instrument tag with point name","identifiesControllerService":false,"sensitive":false},"DATA_CHECK_QUALITY_MAP":{"name":"DATA_CHECK_QUALITY_MAP","displayName":"Data check quality mapping","identifiesControllerService":false,"sensitive":false},"DETECT_TIMESTAMP_SCALE":{"name":"DETECT_TIMESTAMP_SCALE","displayName":"Auto-detect timestamp scale factor","identifiesControllerService":false,"sensitive":false},"SERVERTIME_URL":{"name":"SERVERTIME_URL","displayName":"Server time URL","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","ExtraData"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"52023855-665a-3083-8aba-6a86afef2a16","instanceIdentifier":"b75334bc-b197-3d64-a246-c3bd28991400","name":"ControlRate","comments":"","position":{"x":-402.69846966269483,"y":470.5299450596715},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Maximum FlowFile Rate":null,"Time Duration":"1 sec","Grouping Attribute":null,"Maximum Rate":"10","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"05a9abf9-b5ea-32c6-bb26-658987b6a481","instanceIdentifier":"8c1bde03-7732-370f-9034-0203da8b1561","name":"ExecuteGroovyScript","comments":"","position":{"x":-1251.7158729552918,"y":-434.5353780671476},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"1.19.1"},"properties":{"groovyx-script-body":"def flowFile = session.get()\nif(!flowFile) return\nprocessGroupId = context.procNode?.processGroupIdentifier ?: 'unknown'\nflowFile = session.putAttribute(flowFile, 'processGroupId', processGroupId)\nsession.transfer(flowFile, REL_SUCCESS)","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"f38a5c19-0f55-3617-9e5c-4458f2f60438","instanceIdentifier":"eda0e38e-7a15-3a7a-986e-9b79e5c4a838","name":"UpdateAttribute","comments":"","position":{"x":1552.0,"y":-160.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.19.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","tag_time":"${now():toNumber()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"tag_time":{"name":"tag_time","displayName":"tag_time","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"000513de-6749-3558-875d-1c173f268347","instanceIdentifier":"1f1cef6c-29d0-3e4e-8174-718c675dc5da","name":"PutDistributedMapCache","comments":"","position":{"x":-726.9592222263482,"y":-224.9263359556968},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Cache Entry Identifier":"${processGroupId}_points","Cache update strategy":"replace","Distributed Cache Service":"7e51aae0-3cdd-3698-86bc-7067d776a201","Max cache entry size":"128 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"dc8cbcd0-e465-3a9b-a1aa-1db0b18852b1","instanceIdentifier":"3fe39b4a-76fd-3890-914c-c0c0dfbc967a","name":"RouteOnAttribute","comments":"","position":{"x":1936.0,"y":-752.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Routing Strategy":"Route to Property name","coordinates":"${attribute1:equals(\"coordinates\")}","bed_temp":"${attribute1:equals(\"bed_temp\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"coordinates":{"name":"coordinates","displayName":"coordinates","identifiesControllerService":false,"sensitive":false},"bed_temp":{"name":"bed_temp","displayName":"bed_temp","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"68001528-93b2-33ce-a9d8-86993d353787","instanceIdentifier":"9602d4ee-42b1-32c6-a45a-150c60574544","name":"ExecuteGroovyScript","comments":"","position":{"x":-214.06763381954966,"y":-440.2605062409757},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"1.19.1"},"properties":{"groovyx-script-body":"def flowFile = session.get()\nif(!flowFile) return\nprocessGroupId = context.procNode?.processGroupIdentifier ?: 'unknown'\nflowFile = session.putAttribute(flowFile, 'processGroupId', processGroupId)\nsession.transfer(flowFile, REL_SUCCESS)","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"8456cc95-b7b3-3134-ae6c-5f477814060a","instanceIdentifier":"6b4c467a-1317-3a61-aa2e-56cb6e012249","name":"EvaluateJsonPath","comments":"","position":{"x":1480.0,"y":-448.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Destination":"flowfile-attribute","working_line_num":"$.working_line_num","y_home_state":"$.y_home_state","e0_temp":"$.e0_temp","Return Type":"json","Null Value Representation":"empty string","JsonPaths":"$.coordinates","bed_temp":"$.bed_temp","Path Not Found Behavior":"ignore","line_work":"$.line_work","z_home_state":"$.z_home_state","working":"$.working","x_home_state":"$.x_home_state","homing":"$.homing","coords":"$.coordinates"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"working_line_num":{"name":"working_line_num","displayName":"working_line_num","identifiesControllerService":false,"sensitive":false},"y_home_state":{"name":"y_home_state","displayName":"y_home_state","identifiesControllerService":false,"sensitive":false},"e0_temp":{"name":"e0_temp","displayName":"e0_temp","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPaths":{"name":"JsonPaths","displayName":"JsonPaths","identifiesControllerService":false,"sensitive":false},"bed_temp":{"name":"bed_temp","displayName":"bed_temp","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"line_work":{"name":"line_work","displayName":"line_work","identifiesControllerService":false,"sensitive":false},"z_home_state":{"name":"z_home_state","displayName":"z_home_state","identifiesControllerService":false,"sensitive":false},"working":{"name":"working","displayName":"working","identifiesControllerService":false,"sensitive":false},"x_home_state":{"name":"x_home_state","displayName":"x_home_state","identifiesControllerService":false,"sensitive":false},"homing":{"name":"homing","displayName":"homing","identifiesControllerService":false,"sensitive":false},"coords":{"name":"coords","displayName":"coords","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"f8b158e0-e422-37e9-a4e5-4df6f61938eb","instanceIdentifier":"27fe01c1-0795-3bae-b3f0-482385593971","name":"SchedulePollingJob","comments":"","position":{"x":328.0,"y":-472.0},"type":"com.zyfra.nifi.processors.SchedulePollingJob","bundle":{"group":"com.zyfra.nifi","artifact":"nifi-zyfra-clustering-nar","version":"4.0.0.0"},"properties":{"OUTPUT_FORMAT":"TEXT"},"propertyDescriptors":{"OUTPUT_FORMAT":{"name":"OUTPUT_FORMAT","displayName":"Output format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"3000 ms","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"449f329b-ed9b-3a34-a53a-dffc26f0f6de","instanceIdentifier":"e242ede8-2b83-30a2-9b9a-80944886c862","name":"GenerateFlowFile","comments":"","position":{"x":-216.0,"y":-672.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"95f5b9d1-6b70-3260-a5b7-4f1be722619f","instanceIdentifier":"fd5cdbc1-986f-3445-a045-bef1c65a0f6a","name":"InvokeHTTP","comments":"","position":{"x":840.0,"y":-480.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://ziiot.aplitastra.ru/datagen/opc-server-3dpr/getdatajson","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"43629fa8-4b80-3f9e-80fc-b07f47ece567","instanceIdentifier":"7cdbdfe6-2585-3100-bc4a-d03781f91d1d","name":"","source":{"id":"485a9bfb-55f1-3f31-9eee-d3e3a4828c32","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"ProcessTSDSData","comments":"","instanceIdentifier":"cad2e504-c453-302b-991e-6d1ee189622e"},"destination":{"id":"e026db8b-c62b-330b-8f9d-73ce5b6bdaf3","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"PublishKafka_2_0","comments":"","instanceIdentifier":"742a2804-8e5b-313c-8de8-4f63ac9d44b5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"0937e8be-c4cd-32f1-aa33-372c1cef247d","instanceIdentifier":"ea7681b2-691d-34e8-9515-a618d335f06d","name":"","source":{"id":"5fcd7b61-2603-3570-8b36-4a7206c0d66f","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"ExtractText","comments":"","instanceIdentifier":"69a1a0b1-de05-30ca-9e8f-a99bd3546024"},"destination":{"id":"dc8cbcd0-e465-3a9b-a1aa-1db0b18852b1","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"RouteOnAttribute","comments":"","instanceIdentifier":"3fe39b4a-76fd-3890-914c-c0c0dfbc967a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"87bd5b17-3c16-3e78-a78e-c7f2be43c385","instanceIdentifier":"e704a0e9-07a8-3857-ab5b-c801f6894c85","name":"","source":{"id":"95f5b9d1-6b70-3260-a5b7-4f1be722619f","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"InvokeHTTP","comments":"","instanceIdentifier":"fd5cdbc1-986f-3445-a045-bef1c65a0f6a"},"destination":{"id":"8456cc95-b7b3-3134-ae6c-5f477814060a","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6b4c467a-1317-3a61-aa2e-56cb6e012249"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"6d5738ad-270c-3c6c-835f-d030f16ee89b","instanceIdentifier":"fa1b4367-ac71-3bf3-adc3-4aee32181f37","name":"","source":{"id":"f8b158e0-e422-37e9-a4e5-4df6f61938eb","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"SchedulePollingJob","comments":"","instanceIdentifier":"27fe01c1-0795-3bae-b3f0-482385593971"},"destination":{"id":"95f5b9d1-6b70-3260-a5b7-4f1be722619f","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"InvokeHTTP","comments":"","instanceIdentifier":"fd5cdbc1-986f-3445-a045-bef1c65a0f6a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["scheduled"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"09647d9f-4e4a-3f7b-a089-df5532318488","instanceIdentifier":"3a03e858-e891-3eaa-b9a5-a939368380a9","name":"","source":{"id":"52023855-665a-3083-8aba-6a86afef2a16","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"ControlRate","comments":"","instanceIdentifier":"b75334bc-b197-3d64-a246-c3bd28991400"},"destination":{"id":"e026db8b-c62b-330b-8f9d-73ce5b6bdaf3","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"PublishKafka_2_0","comments":"","instanceIdentifier":"742a2804-8e5b-313c-8de8-4f63ac9d44b5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":92.99950848717356,"y":404.7543074637872}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"6b5e9390-921d-32b0-b6fa-d1ff84190e17","instanceIdentifier":"dcea0bd4-a69b-3a65-b83f-89357bb0ca5b","name":"","source":{"id":"0c4ca5c4-f3f7-3e84-8fc6-887d49c04441","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"d4e68cbf-51f3-3bb0-87ee-f9f4ca7a4482"},"destination":{"id":"485a9bfb-55f1-3f31-9eee-d3e3a4828c32","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"ProcessTSDSData","comments":"","instanceIdentifier":"cad2e504-c453-302b-991e-6d1ee189622e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"b12273e1-7b2a-3343-a38b-2f9a3e077e99","instanceIdentifier":"deada1e3-ec1a-3acc-83fd-aa453d4c9ded","name":"","source":{"id":"449f329b-ed9b-3a34-a53a-dffc26f0f6de","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"GenerateFlowFile","comments":"","instanceIdentifier":"e242ede8-2b83-30a2-9b9a-80944886c862"},"destination":{"id":"68001528-93b2-33ce-a9d8-86993d353787","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"9602d4ee-42b1-32c6-a45a-150c60574544"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"420aafbe-6569-3581-b223-befaf3ad20fb","instanceIdentifier":"e4c8a392-e783-3ca1-a8e6-010b5cf22afa","name":"","source":{"id":"68001528-93b2-33ce-a9d8-86993d353787","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"9602d4ee-42b1-32c6-a45a-150c60574544"},"destination":{"id":"4fae6730-2de7-3da5-96d4-3855d7d03e63","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"bf25794e-70d2-3190-b523-1142eff33e7a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"ca92b537-6174-35e8-a37e-184eadcaf00e","instanceIdentifier":"b24c4390-37a2-3600-9778-c88f42eb58cc","name":"","source":{"id":"31e00896-4e3f-32bc-ab6c-8c89b973d11e","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"5adf77b8-4c32-31d6-8881-7dab0d5f569c"},"destination":{"id":"000513de-6749-3558-875d-1c173f268347","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"1f1cef6c-29d0-3e4e-8174-718c675dc5da"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"ffbc620c-b131-39d9-85a1-461ff983f318","instanceIdentifier":"aa662784-f979-3b47-9bbe-cfc731c1d67c","name":"","source":{"id":"bb34f57c-4832-30ca-a932-82f5434d23d2","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"SplitText","comments":"","instanceIdentifier":"51ebd984-89e3-37ea-b934-7aef2c184967"},"destination":{"id":"5fcd7b61-2603-3570-8b36-4a7206c0d66f","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"ExtractText","comments":"","instanceIdentifier":"69a1a0b1-de05-30ca-9e8f-a99bd3546024"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"9238ffb2-4a30-3002-8f14-a003f13bbc9c","instanceIdentifier":"c847626a-85f7-34b1-9723-7791899f192a","name":"","source":{"id":"333da563-1896-35d9-bffb-df85c282460c","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"ReplaceText","comments":"","instanceIdentifier":"09d6f73a-54ed-3b40-8f18-033a9bc4f4df"},"destination":{"id":"0c4ca5c4-f3f7-3e84-8fc6-887d49c04441","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"d4e68cbf-51f3-3bb0-87ee-f9f4ca7a4482"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"c444fa48-fdca-3ec9-8241-f90500bca437","instanceIdentifier":"c4201b2c-cfc9-3473-84cd-28438cc3defa","name":"","source":{"id":"4fae6730-2de7-3da5-96d4-3855d7d03e63","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"bf25794e-70d2-3190-b523-1142eff33e7a"},"destination":{"id":"f8b158e0-e422-37e9-a4e5-4df6f61938eb","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"SchedulePollingJob","comments":"","instanceIdentifier":"27fe01c1-0795-3bae-b3f0-482385593971"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"28b89070-9b88-35f3-9c83-6d77ca521b9c","instanceIdentifier":"a4d92701-fe74-3f47-aa68-30e35589ed47","name":"","source":{"id":"036e7b81-467c-3ed2-9f12-a8b10c55db74","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"GetTSDSPoints","comments":"","instanceIdentifier":"5f38b275-130a-36c4-b569-19f2acb9074e"},"destination":{"id":"05a9abf9-b5ea-32c6-bb26-658987b6a481","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"8c1bde03-7732-370f-9034-0203da8b1561"},"labelIndex":1,"zIndex":0,"selectedRelationships":["schedules"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"8d616a5c-e9f7-35a4-9d0a-90a96c76faea","instanceIdentifier":"ab0ad42e-0f6d-38f9-bc85-4a04f38c5cb7","name":"","source":{"id":"036e7b81-467c-3ed2-9f12-a8b10c55db74","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"GetTSDSPoints","comments":"","instanceIdentifier":"5f38b275-130a-36c4-b569-19f2acb9074e"},"destination":{"id":"31e00896-4e3f-32bc-ab6c-8c89b973d11e","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"5adf77b8-4c32-31d6-8881-7dab0d5f569c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["allPoints"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"77588e71-6f22-3c73-a1d5-800c8816c04d","instanceIdentifier":"46d2b6c3-3964-326f-9721-179cdc0b5d0e","name":"","source":{"id":"8456cc95-b7b3-3134-ae6c-5f477814060a","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6b4c467a-1317-3a61-aa2e-56cb6e012249"},"destination":{"id":"f38a5c19-0f55-3617-9e5c-4458f2f60438","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"UpdateAttribute","comments":"","instanceIdentifier":"eda0e38e-7a15-3a7a-986e-9b79e5c4a838"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"8a230dad-0e3b-382d-8e1e-b77ab62c31e5","instanceIdentifier":"6b6d031c-50aa-32ba-9891-20629bf0de88","name":"","source":{"id":"e026db8b-c62b-330b-8f9d-73ce5b6bdaf3","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"PublishKafka_2_0","comments":"","instanceIdentifier":"742a2804-8e5b-313c-8de8-4f63ac9d44b5"},"destination":{"id":"52023855-665a-3083-8aba-6a86afef2a16","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"ControlRate","comments":"","instanceIdentifier":"b75334bc-b197-3d64-a246-c3bd28991400"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"632e4d74-6cbe-3faf-afec-90493e580254","instanceIdentifier":"1fc3959f-a336-3ccb-86be-b4c6912430bd","name":"","source":{"id":"05a9abf9-b5ea-32c6-bb26-658987b6a481","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"8c1bde03-7732-370f-9034-0203da8b1561"},"destination":{"id":"f33d4b97-2331-398f-86ae-f36eec155064","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"f9f31208-ecf8-3cb4-b687-5d1934138e99"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"b8e5e472-2ece-3eb4-a11f-b4866a7c7335","instanceIdentifier":"c4fddaca-241c-381a-9f05-5370484ea59a","name":"","source":{"id":"f38a5c19-0f55-3617-9e5c-4458f2f60438","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"UpdateAttribute","comments":"","instanceIdentifier":"eda0e38e-7a15-3a7a-986e-9b79e5c4a838"},"destination":{"id":"333da563-1896-35d9-bffb-df85c282460c","type":"PROCESSOR","groupId":"61e436d9-d159-3e72-8f09-455f8b89bdd5","name":"ReplaceText","comments":"","instanceIdentifier":"09d6f73a-54ed-3b40-8f18-033a9bc4f4df"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"}],"labels":[],"funnels":[{"identifier":"a9850f44-830d-3f43-bbf8-c1531ee7780d","instanceIdentifier":"bc5c64d2-3a56-3c57-95b2-5597f29eec7b","position":{"x":2256.0,"y":248.0},"componentType":"FUNNEL","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"}],"controllerServices":[{"identifier":"6f1c86cd-77af-35d3-b7d8-d7b8a7e0a63c","instanceIdentifier":"06c8494d-fb40-3e17-bad0-f9f2ba8f056d","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.1"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"f728242a-2b52-36eb-aa91-4a10e88fc0d7","instanceIdentifier":"26c9343a-c47c-33bd-9a88-e1b116d31843","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.1"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"d08316a5-3633-37e8-9817-711c8fadfedd","instanceIdentifier":"2a433328-686f-3b21-9fd7-51227895eb54","name":"CSVReader","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.1"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"7e51aae0-3cdd-3698-86bc-7067d776a201","instanceIdentifier":"7adb3a13-0377-3553-bcbd-1ee45fc1848b","name":"RedisDistributedMapCacheClientService","comments":"","type":"org.apache.nifi.redis.service.RedisDistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"1.19.1"},"properties":{"redis-connection-pool":"42e5e1ec-c918-3a3d-8523-65316a38e04e","redis-cache-ttl":"0 secs"},"propertyDescriptors":{"redis-connection-pool":{"name":"redis-connection-pool","displayName":"Redis Connection Pool","identifiesControllerService":true,"sensitive":false},"redis-cache-ttl":{"name":"redis-cache-ttl","displayName":"TTL","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"},{"identifier":"42e5e1ec-c918-3a3d-8523-65316a38e04e","instanceIdentifier":"958d91eb-a252-3d77-b1ef-ec00b3ebf6b2","name":"RedisConnectionPoolService","comments":"","type":"org.apache.nifi.redis.service.RedisConnectionPoolService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"1.19.1"},"properties":{"Pool - Min Evictable Idle Time":"60 seconds","Pool - Test On Borrow":"false","Pool - Test On Return":"false","Redis Mode":"Standalone","Pool - Max Idle":"8","Pool - Block When Exhausted":"true","Cluster Max Redirects":"5","Pool - Num Tests Per Eviction Run":"-1","Connection String":"${RedisUrl}","Pool - Max Total":"8","Pool - Test On Create":"false","SSL Context Service":null,"Pool - Min Idle":"0","Pool - Test While Idle":"true","Pool - Time Between Eviction Runs":"30 seconds","Communication Timeout":"10 seconds","Pool - Max Wait Time":"10 seconds","Database Index":"0","Sentinel Master":null},"propertyDescriptors":{"Pool - Min Evictable Idle Time":{"name":"Pool - Min Evictable Idle Time","displayName":"Pool - Min Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"Pool - Test On Borrow":{"name":"Pool - Test On Borrow","displayName":"Pool - Test On Borrow","identifiesControllerService":false,"sensitive":false},"Pool - Test On Return":{"name":"Pool - Test On Return","displayName":"Pool - Test On Return","identifiesControllerService":false,"sensitive":false},"Redis Mode":{"name":"Redis Mode","displayName":"Redis Mode","identifiesControllerService":false,"sensitive":false},"Pool - Max Idle":{"name":"Pool - Max Idle","displayName":"Pool - Max Idle","identifiesControllerService":false,"sensitive":false},"Pool - Block When Exhausted":{"name":"Pool - Block When Exhausted","displayName":"Pool - Block When Exhausted","identifiesControllerService":false,"sensitive":false},"Cluster Max Redirects":{"name":"Cluster Max Redirects","displayName":"Cluster Max Redirects","identifiesControllerService":false,"sensitive":false},"Pool - Num Tests Per Eviction Run":{"name":"Pool - Num Tests Per Eviction Run","displayName":"Pool - Num Tests Per Eviction Run","identifiesControllerService":false,"sensitive":false},"Connection String":{"name":"Connection String","displayName":"Connection String","identifiesControllerService":false,"sensitive":false},"Pool - Max Total":{"name":"Pool - Max Total","displayName":"Pool - Max Total","identifiesControllerService":false,"sensitive":false},"Pool - Test On Create":{"name":"Pool - Test On Create","displayName":"Pool - Test On Create","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Pool - Min Idle":{"name":"Pool - Min Idle","displayName":"Pool - Min Idle","identifiesControllerService":false,"sensitive":false},"Pool - Test While Idle":{"name":"Pool - Test While Idle","displayName":"Pool - Test While Idle","identifiesControllerService":false,"sensitive":false},"Pool - Time Between Eviction Runs":{"name":"Pool - Time Between Eviction Runs","displayName":"Pool - Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Communication Timeout":{"name":"Communication Timeout","displayName":"Communication Timeout","identifiesControllerService":false,"sensitive":false},"Pool - Max Wait Time":{"name":"Pool - Max Wait Time","displayName":"Pool - Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Index":{"name":"Database Index","displayName":"Database Index","identifiesControllerService":false,"sensitive":false},"Sentinel Master":{"name":"Sentinel Master","displayName":"Sentinel Master","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.redis.RedisConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-service-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"61e436d9-d159-3e72-8f09-455f8b89bdd5"}],"variables":{"KafkaBrokers":"zif-kafka-cp-kafka-headless:9092","PointSource":"3dp","SIM_CsvFile":"","SIM_Offset":"0","RedisUrl":"zif-redis-master:6379","DefaultScanClass":"{\"period\":\"PT60s\",\"delay\":\"PT0s\"}","TagMask":"*","SIM_Signal":"SIN","AuthUrl":"https://ziiot.aplitastra.ru/auth/realms/ziiot","SIM_CsvDateFormat":"yyyy-MM-dd HH:mm:ss.SSS","SIM_Period":"600000","RtdbMetadataUrl":"http://zif-rtdb-metadata/api/v0.1","SIM_CycleCsv":"false","KafkaTopic":"nifi-data","ClientId":"apache-nifi-client","SIM_ValuesCount":"1","ScanClasses":"{\n\"1sec\":{\"period\":\"PT1s\",\"delay\":\"\"},\n\"1min\":{\"period\":\"PT1m\",\"delay\":\"\"}\n}","SIM_Amp":"100"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","instanceIdentifier":"372032a8-4d0a-198c-af3e-21504cb3333e","name":"   PointSource","comments":"","position":{"x":120.0,"y":624.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"eb10aeac-78de-3f37-9ac9-ef9b82a20bbf","instanceIdentifier":"ef5c3c3a-11c8-1bff-a5ab-2596bd9d26ad","name":"   PointSource","comments":"","position":{"x":88.0,"y":912.0},"type":"org.apache.nifi.processors.standard.FetchDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Cache Entry Identifier":"tags-csv-import-all-points","Put Cache Value In Attribute":null,"Distributed Cache Service":"51230005-0052-38bf-b7ff-f39af976af45","Max Length To Put In Attribute":"256","Character Set":"UTF-8"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Put Cache Value In Attribute":{"name":"Put Cache Value In Attribute","displayName":"Put Cache Value In Attribute","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"},{"identifier":"9c5e2c8e-aa5c-3e0d-86cc-0e6322b5de52","instanceIdentifier":"8a8b399d-1d04-1edf-8c69-9656a0865e93","name":"  ","comments":"      ","position":{"x":88.0,"y":1440.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","tagType":"$.type","Null Value Representation":"empty string","tagName":"$.name","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"tagType":{"name":"tagType","displayName":"tagType","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"tagName":{"name":"tagName","displayName":"tagName","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"},{"identifier":"a427d9df-821e-304f-8435-ab6479f6d7b6","instanceIdentifier":"48273f2a-2e74-1322-b71e-0fa89ddcd7b1","name":"SplitJson","comments":"     ","position":{"x":88.0,"y":1088.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"}],"inputPorts":[{"identifier":"fa076494-b682-36ce-b1cd-801332273636","instanceIdentifier":"e5f3318c-3e18-12e9-8732-8685c33d0e42","name":"in","position":{"x":144.0,"y":816.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"}],"outputPorts":[{"identifier":"8a5ea952-eca7-3614-abf7-5eb040a81fc8","instanceIdentifier":"0a6d3637-8bd0-197b-9027-5a0cebd4ab14","name":"error","position":{"x":784.0,"y":1624.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"},{"identifier":"1ad28701-f205-3238-9c2f-0f8b0619b57c","instanceIdentifier":"aad73c7a-a9a6-1182-98ed-ae837dc383cc","name":"out","position":{"x":144.0,"y":1632.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"}],"connections":[{"identifier":"56d1c181-baad-3291-95fb-bd8c4c5e743c","instanceIdentifier":"c3d13f9c-0db1-15db-8027-8b1c45b9fb19","name":"","source":{"id":"9c5e2c8e-aa5c-3e0d-86cc-0e6322b5de52","type":"PROCESSOR","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"  ","comments":"      ","instanceIdentifier":"8a8b399d-1d04-1edf-8c69-9656a0865e93"},"destination":{"id":"1dcefa15-3d5d-30ea-a80e-8c5622c2051a","type":"FUNNEL","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"Funnel","comments":"","instanceIdentifier":"516938af-a4db-1f88-933b-88169d4fcbd1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"30 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"},{"identifier":"5e086f15-36a2-3b48-9b5f-f8e9f45dc1e3","instanceIdentifier":"417e3ee3-7277-103f-b7f0-d0961ccdc8f7","name":"","source":{"id":"17f98a42-540b-3895-8bcd-43e5af9e007d","type":"FUNNEL","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"Funnel","comments":"","instanceIdentifier":"5cdc30a9-8f96-1492-9c05-d637d7716172"},"destination":{"id":"1dcefa15-3d5d-30ea-a80e-8c5622c2051a","type":"FUNNEL","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"Funnel","comments":"","instanceIdentifier":"516938af-a4db-1f88-933b-88169d4fcbd1"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"},{"identifier":"e5e5b49a-3695-3357-bede-de3d1c880420","instanceIdentifier":"be3df22e-018e-1000-ffff-ffff82c58a1e","name":"","source":{"id":"a427d9df-821e-304f-8435-ab6479f6d7b6","type":"PROCESSOR","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"SplitJson","comments":"     ","instanceIdentifier":"48273f2a-2e74-1322-b71e-0fa89ddcd7b1"},"destination":{"id":"9c5e2c8e-aa5c-3e0d-86cc-0e6322b5de52","type":"PROCESSOR","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"  ","comments":"      ","instanceIdentifier":"8a8b399d-1d04-1edf-8c69-9656a0865e93"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"},{"identifier":"3c42f5aa-9862-3d10-8c48-b3ad3c2b4478","instanceIdentifier":"16553487-70f9-1e59-a780-19e6efa0bf43","name":"","source":{"id":"1dcefa15-3d5d-30ea-a80e-8c5622c2051a","type":"FUNNEL","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"Funnel","comments":"","instanceIdentifier":"516938af-a4db-1f88-933b-88169d4fcbd1"},"destination":{"id":"8a5ea952-eca7-3614-abf7-5eb040a81fc8","type":"OUTPUT_PORT","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"error","instanceIdentifier":"0a6d3637-8bd0-197b-9027-5a0cebd4ab14"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"},{"identifier":"9d6402bb-ef5b-3b81-b29e-ca9220d41c26","instanceIdentifier":"85b7340f-727f-1540-94b0-f0a637e95bdd","name":"","source":{"id":"9c5e2c8e-aa5c-3e0d-86cc-0e6322b5de52","type":"PROCESSOR","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"  ","comments":"      ","instanceIdentifier":"8a8b399d-1d04-1edf-8c69-9656a0865e93"},"destination":{"id":"1ad28701-f205-3238-9c2f-0f8b0619b57c","type":"OUTPUT_PORT","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"out","instanceIdentifier":"aad73c7a-a9a6-1182-98ed-ae837dc383cc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"},{"identifier":"d2a6cbd9-423a-3456-b4af-9d0d53191f6b","instanceIdentifier":"b3593334-76ba-1ab3-b371-ee49805db136","name":"","source":{"id":"46a3b921-387b-365b-be55-be4fdc58d45b","type":"FUNNEL","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"Funnel","comments":"","instanceIdentifier":"0bfa3309-0820-1511-bb2f-09d35a6de621"},"destination":{"id":"23813ec9-c72b-3597-a9c8-10a20ae68c9e","type":"FUNNEL","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"Funnel","comments":"","instanceIdentifier":"06f53f15-6f01-12cb-bed1-139fcf755cc3"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"},{"identifier":"77eadc76-a0ec-3e67-83dd-ff19163817f0","instanceIdentifier":"37193964-520f-138d-9ac5-37e1958b82b6","name":"","source":{"id":"eb10aeac-78de-3f37-9ac9-ef9b82a20bbf","type":"PROCESSOR","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"   PointSource","comments":"","instanceIdentifier":"ef5c3c3a-11c8-1bff-a5ab-2596bd9d26ad"},"destination":{"id":"46a3b921-387b-365b-be55-be4fdc58d45b","type":"FUNNEL","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"Funnel","comments":"","instanceIdentifier":"0bfa3309-0820-1511-bb2f-09d35a6de621"},"labelIndex":1,"zIndex":0,"selectedRelationships":["not-found","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"30 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"},{"identifier":"a8f47bbc-13c5-3dde-895c-386af1228dee","instanceIdentifier":"f3cc3e4e-68c9-132d-9cfe-acf3a9abf1aa","name":"","source":{"id":"eb10aeac-78de-3f37-9ac9-ef9b82a20bbf","type":"PROCESSOR","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"   PointSource","comments":"","instanceIdentifier":"ef5c3c3a-11c8-1bff-a5ab-2596bd9d26ad"},"destination":{"id":"a427d9df-821e-304f-8435-ab6479f6d7b6","type":"PROCESSOR","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"SplitJson","comments":"     ","instanceIdentifier":"48273f2a-2e74-1322-b71e-0fa89ddcd7b1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"},{"identifier":"10aeafa1-f605-3a17-a514-cd6826252908","instanceIdentifier":"4ea734dc-84f2-1ebe-9420-70a061729c52","name":"","source":{"id":"a427d9df-821e-304f-8435-ab6479f6d7b6","type":"PROCESSOR","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"SplitJson","comments":"     ","instanceIdentifier":"48273f2a-2e74-1322-b71e-0fa89ddcd7b1"},"destination":{"id":"23813ec9-c72b-3597-a9c8-10a20ae68c9e","type":"FUNNEL","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"Funnel","comments":"","instanceIdentifier":"06f53f15-6f01-12cb-bed1-139fcf755cc3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"30 min","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"},{"identifier":"a04dae82-b328-37eb-9cd8-9b44bb7d75c8","instanceIdentifier":"2cfb3ccd-59cd-1154-90da-47dc0c23b326","name":"","source":{"id":"23813ec9-c72b-3597-a9c8-10a20ae68c9e","type":"FUNNEL","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"Funnel","comments":"","instanceIdentifier":"06f53f15-6f01-12cb-bed1-139fcf755cc3"},"destination":{"id":"17f98a42-540b-3895-8bcd-43e5af9e007d","type":"FUNNEL","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"Funnel","comments":"","instanceIdentifier":"5cdc30a9-8f96-1492-9c05-d637d7716172"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"},{"identifier":"c712dc22-ba2d-3741-8f39-4035ddafa481","instanceIdentifier":"9b0f3d63-12f2-16af-93c2-12b79a3afaac","name":"","source":{"id":"fa076494-b682-36ce-b1cd-801332273636","type":"INPUT_PORT","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"in","instanceIdentifier":"e5f3318c-3e18-12e9-8732-8685c33d0e42"},"destination":{"id":"eb10aeac-78de-3f37-9ac9-ef9b82a20bbf","type":"PROCESSOR","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"   PointSource","comments":"","instanceIdentifier":"ef5c3c3a-11c8-1bff-a5ab-2596bd9d26ad"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"}],"labels":[{"identifier":"7fc54442-fe29-3cb9-91f5-dd4188bc0aac","instanceIdentifier":"669e313f-898b-119c-9de6-c4ad2cde2f49","position":{"x":-88.0,"y":1440.0},"label":"- tagName\n- tagDescription\n- sqlTableName\n- sqlColumnValue\n- sqlTZ\n- sqlSelectionCondition\n- sqlGroup","zIndex":0,"width":168.0,"height":128.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"}],"funnels":[{"identifier":"23813ec9-c72b-3597-a9c8-10a20ae68c9e","instanceIdentifier":"06f53f15-6f01-12cb-bed1-139fcf755cc3","position":{"x":880.0,"y":1128.0},"componentType":"FUNNEL","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"},{"identifier":"46a3b921-387b-365b-be55-be4fdc58d45b","instanceIdentifier":"0bfa3309-0820-1511-bb2f-09d35a6de621","position":{"x":880.0,"y":952.0},"componentType":"FUNNEL","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"},{"identifier":"17f98a42-540b-3895-8bcd-43e5af9e007d","instanceIdentifier":"5cdc30a9-8f96-1492-9c05-d637d7716172","position":{"x":880.0,"y":1304.0},"componentType":"FUNNEL","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"},{"identifier":"1dcefa15-3d5d-30ea-a80e-8c5622c2051a","instanceIdentifier":"516938af-a4db-1f88-933b-88169d4fcbd1","position":{"x":880.0,"y":1480.0},"componentType":"FUNNEL","groupIdentifier":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4"}],"controllerServices":[],"variables":{},"parameterContextName":"Hyperion","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"}],"remoteProcessGroups":[],"processors":[{"identifier":"4ad9bf58-11d5-371a-8376-ad05cd5a40f7","instanceIdentifier":"df7c3e4f-5677-1c31-8271-b453ae0cb586","name":"   ","comments":" flow file  ","position":{"x":112.0,"y":400.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"character-set":"UTF-8","end_date":"2024-02-29","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text","start_date":"2024-02-1"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"end_date":{"name":"end_date","displayName":"end_date","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false},"start_date":{"name":"start_date","displayName":"start_date","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"30 02 02,06,10,14,18 * * ?","schedulingStrategy":"CRON_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"a0d23760-6910-39b4-82ff-e57858a576ce","instanceIdentifier":"dcaf36b0-9b04-1826-86a9-88e3909a823e","name":" 3333","comments":"","position":{"x":360.0,"y":1272.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"[   {\n        \"pointName\": \"${tagName}\",\n        \"type\": \"${tagType}\",\n        \"values\": [\n            {\n                \"a\": \"TEST\",\n                \"q\": 0,\n                \"ts\": ${dateTOdata},\n                \"v\": \"3333\"\n            }\n        ]\n    }\n    ]","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"2e90affa-d7dc-3fdc-81ac-5d0a166802d6","instanceIdentifier":"2e2436c3-4fac-15b8-94ab-5ab71583bca4","name":"ControlRate","comments":"","position":{"x":120.0,"y":2144.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Maximum FlowFile Rate":null,"Time Duration":"5 sec","Grouping Attribute":null,"Maximum Rate":"20","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"bc2915d8-d05e-34d8-92db-7a165bac4b46","instanceIdentifier":"51bc3aa2-40a4-124b-957c-6214587d6dad","name":"ExecuteGroovyScript","comments":"","position":{"x":-1488.0,"y":784.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"1.19.1"},"properties":{"groovyx-script-body":"def flowFile = session.get()\nif(!flowFile) return\nprocessGroupId = context.procNode?.processGroupIdentifier ?: 'unknown'\nflowFile = session.putAttribute(flowFile, 'processGroupId', processGroupId)\nsession.transfer(flowFile, REL_SUCCESS)","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"5899e6c6-9c5f-3af3-83e5-a8ffc276f391","instanceIdentifier":"84c53791-32ee-19b8-8710-a80d1cbe5037","name":"ProcessTSDSData","comments":"","position":{"x":112.0,"y":1680.0},"type":"com.zyfra.nifi.processors.ProcessTSDSData","bundle":{"group":"com.zyfra.nifi","artifact":"nifi-zyfra-tsds-nar","version":"3.4.5.0-SNAPSHOT"},"properties":{"TIMESTAMP_SCALE":"1","RESET_PERIOD":"60","USE_SOURCE_COMPRESSION":"false","MAX_VALUES_IN_MESSAGE":"1000","Distributed Cache Service":"51230005-0052-38bf-b7ff-f39af976af45","USE_DATA_CHECK_ANNOTATIONS":"true","OUTPUT_FORMAT":"JSONv3","POINTS_CACHE_UPDATE_PERIOD":"60","SERVERTIME_AUTH_CLIENT_ID":null,"POINTS_CACHE_ATTEMPTS":"100","SERVERTIME_SYNC_PERIOD":"60","POINTS_CACHE_KEY":"tags-csv-import-all-points","TIMESTAMP_OFFSET":"0","OUTPUT_DICT_AS_STRING":"true","EXTRA_DATA_OUTPUT_FORMAT":"JSONv2 with point name","INPUT_FORMAT":"JSON point values","DATETIME_FORMAT":"yyyy-MM-dd HH:mm:ss.SSS","SERVERTIME_AUTH_URL":"https://kraz.test.pims.rusal.ru/auth/realms/ziiot","USE_DATA_CHECK_ONLY_GOOD":"true","MAP_QUALITIES_TO_GOOD":"0,192,193,194,195,216,217,218,219","USE_DATA_CHECK":"false","INSTRUMENT_TAG_WITH_POINTNAME":"false","DATA_CHECK_QUALITY_MAP":"freeze=2;overspeed=3;SH=4;SL=5;","DETECT_TIMESTAMP_SCALE":"false","SERVERTIME_URL":"","SSL Context Service":null},"propertyDescriptors":{"TIMESTAMP_SCALE":{"name":"TIMESTAMP_SCALE","displayName":"Scale timestamp factor","identifiesControllerService":false,"sensitive":false},"RESET_PERIOD":{"name":"RESET_PERIOD","displayName":"Reset period","identifiesControllerService":false,"sensitive":false},"USE_SOURCE_COMPRESSION":{"name":"USE_SOURCE_COMPRESSION","displayName":"Use compression on source","identifiesControllerService":false,"sensitive":false},"MAX_VALUES_IN_MESSAGE":{"name":"MAX_VALUES_IN_MESSAGE","displayName":"Max values in one message","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"SERVERTIME_AUTH_CLIENT_SECRET":{"name":"SERVERTIME_AUTH_CLIENT_SECRET","displayName":"ClientSecret","identifiesControllerService":false,"sensitive":true},"USE_DATA_CHECK_ANNOTATIONS":{"name":"USE_DATA_CHECK_ANNOTATIONS","displayName":"Use data check annotations","identifiesControllerService":false,"sensitive":false},"OUTPUT_FORMAT":{"name":"OUTPUT_FORMAT","displayName":"Output format","identifiesControllerService":false,"sensitive":false},"POINTS_CACHE_UPDATE_PERIOD":{"name":"POINTS_CACHE_UPDATE_PERIOD","displayName":"Points cache update period","identifiesControllerService":false,"sensitive":false},"SERVERTIME_AUTH_CLIENT_ID":{"name":"SERVERTIME_AUTH_CLIENT_ID","displayName":"ClientId","identifiesControllerService":false,"sensitive":false},"POINTS_CACHE_ATTEMPTS":{"name":"POINTS_CACHE_ATTEMPTS","displayName":"Points cache attempts","identifiesControllerService":false,"sensitive":false},"SERVERTIME_SYNC_PERIOD":{"name":"SERVERTIME_SYNC_PERIOD","displayName":"Server time sync period","identifiesControllerService":false,"sensitive":false},"POINTS_CACHE_KEY":{"name":"POINTS_CACHE_KEY","displayName":"Points cache key","identifiesControllerService":false,"sensitive":false},"TIMESTAMP_OFFSET":{"name":"TIMESTAMP_OFFSET","displayName":"Timestamp offset in nanoseconds","identifiesControllerService":false,"sensitive":false},"OUTPUT_DICT_AS_STRING":{"name":"OUTPUT_DICT_AS_STRING","displayName":"Dict values as string","identifiesControllerService":false,"sensitive":false},"EXTRA_DATA_OUTPUT_FORMAT":{"name":"EXTRA_DATA_OUTPUT_FORMAT","displayName":"Extra data output format","identifiesControllerService":false,"sensitive":false},"INPUT_FORMAT":{"name":"INPUT_FORMAT","displayName":"Input format","identifiesControllerService":false,"sensitive":false},"DATETIME_FORMAT":{"name":"DATETIME_FORMAT","displayName":"Datetime format","identifiesControllerService":false,"sensitive":false},"SERVERTIME_AUTH_URL":{"name":"SERVERTIME_AUTH_URL","displayName":"Server time auth url","identifiesControllerService":false,"sensitive":false},"USE_DATA_CHECK_ONLY_GOOD":{"name":"USE_DATA_CHECK_ONLY_GOOD","displayName":"Use data check only for good values","identifiesControllerService":false,"sensitive":false},"MAP_QUALITIES_TO_GOOD":{"name":"MAP_QUALITIES_TO_GOOD","displayName":"List of qualities to map as good","identifiesControllerService":false,"sensitive":false},"USE_DATA_CHECK":{"name":"USE_DATA_CHECK","displayName":"Use data check and noise cancellation","identifiesControllerService":false,"sensitive":false},"INSTRUMENT_TAG_WITH_POINTNAME":{"name":"INSTRUMENT_TAG_WITH_POINTNAME","displayName":"Instrument tag with point name","identifiesControllerService":false,"sensitive":false},"DATA_CHECK_QUALITY_MAP":{"name":"DATA_CHECK_QUALITY_MAP","displayName":"Data check quality mapping","identifiesControllerService":false,"sensitive":false},"DETECT_TIMESTAMP_SCALE":{"name":"DETECT_TIMESTAMP_SCALE","displayName":"Auto-detect timestamp scale factor","identifiesControllerService":false,"sensitive":false},"SERVERTIME_URL":{"name":"SERVERTIME_URL","displayName":"Server time URL","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"ERROR","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","ExtraData"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"c1fbd72c-734f-3928-b98e-7f06fabc0c4d","instanceIdentifier":"49373858-f61e-1256-82b3-63abb1becc34","name":"GetTSDSPoints","comments":"","position":{"x":-1184.0,"y":488.0},"type":"com.zyfra.nifi.processors.GetTSDSPoints","bundle":{"group":"com.zyfra.nifi","artifact":"nifi-zyfra-tsds-nar","version":"3.4.5.0-SNAPSHOT"},"properties":{"AUTH_URL":"http://zif-keycloak21/auth/realms/nkaz_test","NAME_MASK":"*","GET_WRITE_POINTS":"false","SCAN_CLASSES":"{\n\"1sec\":{\"period\":\"PT1s\",\"delay\":\"\"},\n\"4sec\":{\"period\":\"PT4s\",\"delay\":\"\"},\n\"15sec\":{\"period\":\"PT0s\",\"delay\":\"PT15s\"},\n\"60sec\":{\"period\":\"PT0s\",\"delay\":\"PT1m\"},\n\"30sec\":{\"period\":\"PT30s\",\"delay\":\"\"},\n\"1min\":{\"period\":\"PT1m\",\"delay\":\"PT1s\"},\n\"30min\":{\"period\":\"PT0s\",\"delay\":\"PT30m\"},\n\"60min\":{\"period\":\"PT0s\",\"delay\":\"PT60m\"},\n\"sub\":{\"period\":\"PT0s\",\"delay\":\"PT1s\"},\n\"pol_10sec\":{\"period\":\"PT10s\",\"delay\":\"\"},\n\"pol_30sec\":{\"period\":\"PT30s\",\"delay\":\"PT0s\"},\n\"pol_30sec,10\":{\"period\":\"PT30s\",\"delay\":\"PT10s\"},\n\"pol_30sec,20\":{\"period\":\"PT30s\",\"delay\":\"PT20s\"}\n}","HTTP_TIMEOUT":"30000","TSDS_URL":"https://nkaz.test.pims.rusal.ru/zif-rtdb-metadata/api/v0.1","OUTPUT_FORMAT":"JSON","SSL Context Service":null,"GET_TOPICS_ATTRIBUTE":"false","EX_ATTRIBUTES":"","CLIENT_ID":"test-client","DEFAULT_SCANCLASS":"{\"period\":\"PT0s\",\"delay\":\"PT15s\"}","GET_DATA_CHECK_ATTRIBUTES":"false","POINT_SOURCE_LIST":"csv-import","ONE_REQUEST_SIZE":"1000"},"propertyDescriptors":{"AUTH_URL":{"name":"AUTH_URL","displayName":"Auth url","identifiesControllerService":false,"sensitive":false},"NAME_MASK":{"name":"NAME_MASK","displayName":"Name mask","identifiesControllerService":false,"sensitive":false},"GET_WRITE_POINTS":{"name":"GET_WRITE_POINTS","displayName":"Get write points","identifiesControllerService":false,"sensitive":false},"CLIENT_SECRET_SENSITIVE":{"name":"CLIENT_SECRET_SENSITIVE","displayName":"ClientSecret","identifiesControllerService":false,"sensitive":true},"SCAN_CLASSES":{"name":"SCAN_CLASSES","displayName":"Scan classes","identifiesControllerService":false,"sensitive":false},"HTTP_TIMEOUT":{"name":"HTTP_TIMEOUT","displayName":"HTTP timeout","identifiesControllerService":false,"sensitive":false},"TSDS_URL":{"name":"TSDS_URL","displayName":"Zif-rtdb-metadata url","identifiesControllerService":false,"sensitive":false},"OUTPUT_FORMAT":{"name":"OUTPUT_FORMAT","displayName":"Output format","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"GET_TOPICS_ATTRIBUTE":{"name":"GET_TOPICS_ATTRIBUTE","displayName":"Get topics attribute","identifiesControllerService":false,"sensitive":false},"EX_ATTRIBUTES":{"name":"EX_ATTRIBUTES","displayName":"Additional attributes","identifiesControllerService":false,"sensitive":false},"CLIENT_ID":{"name":"CLIENT_ID","displayName":"ClientId","identifiesControllerService":false,"sensitive":false},"DEFAULT_SCANCLASS":{"name":"DEFAULT_SCANCLASS","displayName":"Default scan class","identifiesControllerService":false,"sensitive":false},"GET_DATA_CHECK_ATTRIBUTES":{"name":"GET_DATA_CHECK_ATTRIBUTES","displayName":"Get data check attributes","identifiesControllerService":false,"sensitive":false},"POINT_SOURCE_LIST":{"name":"POINT_SOURCE_LIST","displayName":"PointSource list","identifiesControllerService":false,"sensitive":false},"ONE_REQUEST_SIZE":{"name":"ONE_REQUEST_SIZE","displayName":"One requst size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"DEBUG","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"4652f129-3d20-3fe9-9d16-425c6a5f11d6","instanceIdentifier":"62a6333e-df1e-13ce-9797-e0c3f737d375","name":"PublishKafkaRecord_2_6","comments":"","position":{"x":128.0,"y":1872.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.19.1"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"fa1b1def-f514-393c-a3c3-e0ff8a0fa178","bootstrap.servers":"zif-kafka-cp-kafka-headless:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":"/pointName","record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"9195a6b6-ea54-3c7a-8508-235571561964","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.nifi.processors.kafka.pubsub.Partitioners$RecordPathPartitioner","sasl.kerberos.keytab":null,"topic":"nifi-data-by-tag","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"bcb18d7d-7cb8-3ad3-bdcd-8f9093e2b4e6","instanceIdentifier":"8f4b3a2e-696e-1f24-adf8-89607d2767ae","name":"ExecuteScript_6","comments":"","position":{"x":-216.0,"y":968.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.19.1"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"flowFile = session.get();\nif(!flowFile)\n    return;\n\nDATE_FORMAT = 'yyyy-MM-dd';\nstartDate = Date.parse(DATE_FORMAT, flowFile.getAttribute(\"start_date\"));\nendDate = Date.parse(DATE_FORMAT, flowFile.getAttribute(\"end_date\"));\nallFirstDates = \"\";\n\nCalendar calendar = Calendar.getInstance();\nSet firstDaysOfMonths = new LinkedHashSet();\n\nfor (int i = 0; i <= endDate-startDate; i++) {\n    calendar.setTime(startDate.plus(i));\n\tcalendar.set(hourOfDay:3)\n    firstDayOfMonth = calendar.getTimeInMillis();\n\t//firstDayOfMonth.\n\tfirstDaysOfMonths.add(firstDayOfMonth/1000);\n\t//firstDaysOfMonths.add(calendar.getTime().format(DATE_FORMAT));\n}\n\nfirstDaysOfMonths.each {\n    firstDayOfMonth -> allFirstDates = allFirstDates + firstDayOfMonth + \"\\n\";\n}\n\n\nfor(dateF in firstDaysOfMonths){\n    def nFlowFile = session.clone(flowFile)\n    nFlowFile = session.putAttribute(nFlowFile,\"dateTOdata\", dateF.toString() );\n\tsession.transfer(nFlowFile, REL_SUCCESS)\n}\n\nsession.remove(flowFile)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"5c18bc49-fc70-38ed-87d8-e9b72ced4b68","instanceIdentifier":"8f4b583d-696e-1f24-0000-00007129eb13","name":"GenerateFlowFile","comments":"","position":{"x":-1915.5664728605566,"y":1289.0312910984176},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"f3498538-e635-3a3f-bdfe-e01533209e5b","instanceIdentifier":"67733efd-3b3a-1b23-ab6b-7371dd4970f3","name":"SplitJson","comments":"","position":{"x":-1560.0,"y":1840.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"33d48011-173d-3318-a46d-a70f770f7578","instanceIdentifier":"188839f2-08e6-11e4-b1df-da5c2e2106b1","name":"EvaluateJsonPath","comments":"","position":{"x":-1560.0,"y":2032.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Destination":"flowfile-attribute","tagid":"id","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"tagid":{"name":"tagid","displayName":"tagid","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"5f4cf50c-58aa-3256-8df5-45679e1aa459","instanceIdentifier":"bf0f3e23-951b-16d5-b4be-7e30b3c0adaa","name":"ExecuteGroovyScript","comments":"","position":{"x":-968.0,"y":784.0},"type":"org.apache.nifi.processors.groovyx.ExecuteGroovyScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-groovyx-nar","version":"1.19.1"},"properties":{"groovyx-script-body":"def flowFile = session.get()\nif(!flowFile) return\nprocessGroupId = context.procNode?.processGroupIdentifier ?: 'unknown'\nflowFile = session.putAttribute(flowFile, 'processGroupId', processGroupId)\nsession.transfer(flowFile, REL_SUCCESS)","groovyx-failure-strategy":"rollback","groovyx-additional-classpath":null,"groovyx-script-file":null},"propertyDescriptors":{"groovyx-script-body":{"name":"groovyx-script-body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"groovyx-failure-strategy":{"name":"groovyx-failure-strategy","displayName":"Failure strategy","identifiesControllerService":false,"sensitive":false},"groovyx-additional-classpath":{"name":"groovyx-additional-classpath","displayName":"Additional classpath","identifiesControllerService":false,"sensitive":false},"groovyx-script-file":{"name":"groovyx-script-file","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"92f2827b-6dee-3775-b0b5-ff2d1be7184e","instanceIdentifier":"cb71354c-9b17-14ab-8e66-9c05965ef5c4","name":"InvokeHTTP","comments":"","position":{"x":-1552.0,"y":2232.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://zif-rtdb-data/zif-rtdb-data/api/v1/RawData/${tagid}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"DELETE","Add Response Headers to Request":"false","oauth2-access-token-provider":"ceba25b9-de30-3741-85e6-3439550316ea","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"e0735814-4a98-36f7-ba85-5ac23c57f8e5","instanceIdentifier":"8f4b5811-696e-1f24-0000-000066387941","name":"FetchDistributedMapCache","comments":"","position":{"x":-1872.0,"y":1528.0},"type":"org.apache.nifi.processors.standard.FetchDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Cache Entry Identifier":"tags-csv-import-all-points","Put Cache Value In Attribute":null,"Distributed Cache Service":"51230005-0052-38bf-b7ff-f39af976af45","Max Length To Put In Attribute":"256","Character Set":"UTF-8"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Put Cache Value In Attribute":{"name":"Put Cache Value In Attribute","displayName":"Put Cache Value In Attribute","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["not-found","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"c2eb502e-ecbf-3917-bad9-e4a7c57fc7fb","instanceIdentifier":"db4235d0-48c8-1e21-bfd8-5fc5c01e97f9","name":"","comments":"","position":{"x":-232.0,"y":1408.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"[   {\n        \"pointName\": \"${tagName}\",\n        \"type\": \"${tagType}\",\n        \"values\": [\n            {\n                \"a\": \"TEST\",\n                \"q\": 0,\n                \"ts\": ${dateTOdata},\n                \"v\": \"${dateTOdata}\"\n            }\n        ]\n    }\n    ]","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"2b9e97d9-664a-39b9-aa80-e66eb3f9550f","instanceIdentifier":"5ea032e5-c9c1-14b1-8c21-3df772087f70","name":"PutDistributedMapCache","comments":"","position":{"x":-968.0,"y":992.0},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Cache Entry Identifier":"tags-csv-import-all-points","Cache update strategy":"replace","Distributed Cache Service":"51230005-0052-38bf-b7ff-f39af976af45","Max cache entry size":"128 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"49b2d49f-2f10-3f84-b7da-ab2a72d1c511","instanceIdentifier":"be6053fa-018e-1000-0000-00004b61aed6","name":"ExecuteScript_18","comments":"","position":{"x":552.0,"y":968.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.19.1"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"flowFile = session.get();\nif(!flowFile)\n    return;\n\nDATE_FORMAT = 'yyyy-MM-dd';\nstartDate = Date.parse(DATE_FORMAT, flowFile.getAttribute(\"start_date\"));\nendDate = Date.parse(DATE_FORMAT, flowFile.getAttribute(\"end_date\"));\nallFirstDates = \"\";\n\nCalendar calendar = Calendar.getInstance();\nSet firstDaysOfMonths = new LinkedHashSet();\n\nfor (int i = 0; i <= endDate-startDate; i++) {\n    calendar.setTime(startDate.plus(i));\n\tcalendar.set(hourOfDay:15)\n    firstDayOfMonth = calendar.getTimeInMillis();\n\t//firstDayOfMonth.\n\tfirstDaysOfMonths.add(firstDayOfMonth/1000);\n\t//firstDaysOfMonths.add(calendar.getTime().format(DATE_FORMAT));\n}\n\nfirstDaysOfMonths.each {\n    firstDayOfMonth -> allFirstDates = allFirstDates + firstDayOfMonth + \"\\n\";\n}\n\n\nfor(dateF in firstDaysOfMonths){\n    def nFlowFile = session.clone(flowFile)\n    nFlowFile = session.putAttribute(nFlowFile,\"dateTOdata\", dateF.toString() );\n\tsession.transfer(nFlowFile, REL_SUCCESS)\n}\n\nsession.remove(flowFile)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"8d4dae91-11fd-31d7-a709-5f6c8ff39d93","instanceIdentifier":"d8843996-a2f0-1d67-a0a8-42e981019f8e","name":"PutDistributedMapCache","comments":"","position":{"x":-1496.0,"y":992.0},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.1"},"properties":{"Cache Entry Identifier":"tags-csv-import-schedules","Cache update strategy":"replace","Distributed Cache Service":"51230005-0052-38bf-b7ff-f39af976af45","Max cache entry size":"128 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"08622a46-d407-31d0-b9aa-0605ec68a480","instanceIdentifier":"be340b2e-018e-1000-ffff-ffffc495e988","name":"","source":{"id":"c1fbd72c-734f-3928-b98e-7f06fabc0c4d","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"GetTSDSPoints","comments":"","instanceIdentifier":"49373858-f61e-1256-82b3-63abb1becc34"},"destination":{"id":"bc2915d8-d05e-34d8-92db-7a165bac4b46","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"51bc3aa2-40a4-124b-957c-6214587d6dad"},"labelIndex":1,"zIndex":0,"selectedRelationships":["schedules"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"3523c504-1a5f-3054-af9c-3760b3617085","instanceIdentifier":"2e2436e6-4fac-15b8-ffff-ffffe0228e5f","name":"","source":{"id":"a0d23760-6910-39b4-82ff-e57858a576ce","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":" 3333","comments":"","instanceIdentifier":"dcaf36b0-9b04-1826-86a9-88e3909a823e"},"destination":{"id":"5899e6c6-9c5f-3af3-83e5-a8ffc276f391","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"ProcessTSDSData","comments":"","instanceIdentifier":"84c53791-32ee-19b8-8710-a80d1cbe5037"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"20cd9f2d-98bb-3b57-948f-19b775de18c8","instanceIdentifier":"be299a8c-018e-1000-0000-000001c07220","name":"","source":{"id":"bc2915d8-d05e-34d8-92db-7a165bac4b46","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"51bc3aa2-40a4-124b-957c-6214587d6dad"},"destination":{"id":"8d4dae91-11fd-31d7-a709-5f6c8ff39d93","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"d8843996-a2f0-1d67-a0a8-42e981019f8e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"745d04cb-93cb-3212-afa2-2cd19056e2d7","instanceIdentifier":"2e2439dc-4fac-15b8-ffff-ffffa1ed144b","name":"","source":{"id":"2e90affa-d7dc-3fdc-81ac-5d0a166802d6","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"ControlRate","comments":"","instanceIdentifier":"2e2436c3-4fac-15b8-94ab-5ab71583bca4"},"destination":{"id":"4652f129-3d20-3fe9-9d16-425c6a5f11d6","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"62a6333e-df1e-13ce-9797-e0c3f737d375"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":640.0,"y":2008.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"fbf0859c-2d07-3358-94cd-059abcb26751","instanceIdentifier":"be619182-018e-1000-ffff-fffffc398027","name":"","source":{"id":"1ad28701-f205-3238-9c2f-0f8b0619b57c","type":"OUTPUT_PORT","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"out","instanceIdentifier":"aad73c7a-a9a6-1182-98ed-ae837dc383cc"},"destination":{"id":"49b2d49f-2f10-3f84-b7da-ab2a72d1c511","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"ExecuteScript_18","comments":"","instanceIdentifier":"be6053fa-018e-1000-0000-00004b61aed6"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"2e858ea9-0d62-39d1-8234-2ad63ddbafef","instanceIdentifier":"be341ba3-018e-1000-0000-00007be4bf66","name":"","source":{"id":"c1fbd72c-734f-3928-b98e-7f06fabc0c4d","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"GetTSDSPoints","comments":"","instanceIdentifier":"49373858-f61e-1256-82b3-63abb1becc34"},"destination":{"id":"5f4cf50c-58aa-3256-8df5-45679e1aa459","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"bf0f3e23-951b-16d5-b4be-7e30b3c0adaa"},"labelIndex":1,"zIndex":0,"selectedRelationships":["allPoints"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"3417d6c6-1597-361a-89ea-9f361c09863c","instanceIdentifier":"8f4b3a49-696e-1f24-0000-0000495e0184","name":"","source":{"id":"1ad28701-f205-3238-9c2f-0f8b0619b57c","type":"OUTPUT_PORT","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"out","instanceIdentifier":"aad73c7a-a9a6-1182-98ed-ae837dc383cc"},"destination":{"id":"bcb18d7d-7cb8-3ad3-bdcd-8f9093e2b4e6","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"ExecuteScript_6","comments":"","instanceIdentifier":"8f4b3a2e-696e-1f24-adf8-89607d2767ae"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"48ae8520-7041-34a1-a1d5-b18874eaa541","instanceIdentifier":"db4235dc-48c8-1e21-ffff-fffff7b13bd1","name":"","source":{"id":"c2eb502e-ecbf-3917-bad9-e4a7c57fc7fb","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"","comments":"","instanceIdentifier":"db4235d0-48c8-1e21-bfd8-5fc5c01e97f9"},"destination":{"id":"5899e6c6-9c5f-3af3-83e5-a8ffc276f391","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"ProcessTSDSData","comments":"","instanceIdentifier":"84c53791-32ee-19b8-8710-a80d1cbe5037"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"9940696b-451c-336f-836a-2b63f51cde97","instanceIdentifier":"cb71355f-9b17-14ab-0000-000059d35d23","name":"","source":{"id":"f3498538-e635-3a3f-bdfe-e01533209e5b","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"SplitJson","comments":"","instanceIdentifier":"67733efd-3b3a-1b23-ab6b-7371dd4970f3"},"destination":{"id":"33d48011-173d-3318-a46d-a70f770f7578","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"188839f2-08e6-11e4-b1df-da5c2e2106b1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"cfd593a5-64f3-39d3-8058-ebcf4ac1d4ab","instanceIdentifier":"2e2436f5-4fac-15b8-0000-000071396f63","name":"","source":{"id":"4652f129-3d20-3fe9-9d16-425c6a5f11d6","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"62a6333e-df1e-13ce-9797-e0c3f737d375"},"destination":{"id":"2e90affa-d7dc-3fdc-81ac-5d0a166802d6","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"ControlRate","comments":"","instanceIdentifier":"2e2436c3-4fac-15b8-94ab-5ab71583bca4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"27679d17-199c-39db-aafb-34eb47865441","instanceIdentifier":"cb713559-9b17-14ab-0000-00000b8c0175","name":"","source":{"id":"e0735814-4a98-36f7-ba85-5ac23c57f8e5","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"8f4b5811-696e-1f24-0000-000066387941"},"destination":{"id":"f3498538-e635-3a3f-bdfe-e01533209e5b","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"SplitJson","comments":"","instanceIdentifier":"67733efd-3b3a-1b23-ab6b-7371dd4970f3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"85280b76-798d-3744-9b6a-42239158046f","instanceIdentifier":"8f4b3b1c-696e-1f24-ffff-ffffc45a7eb3","name":"","source":{"id":"bcb18d7d-7cb8-3ad3-bdcd-8f9093e2b4e6","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"ExecuteScript_6","comments":"","instanceIdentifier":"8f4b3a2e-696e-1f24-adf8-89607d2767ae"},"destination":{"id":"a0d23760-6910-39b4-82ff-e57858a576ce","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":" 3333","comments":"","instanceIdentifier":"dcaf36b0-9b04-1826-86a9-88e3909a823e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"2bc2a241-d7da-3ee2-821f-ee6d1a48e243","instanceIdentifier":"2e24371c-4fac-15b8-ffff-ffff9967cde5","name":"","source":{"id":"5899e6c6-9c5f-3af3-83e5-a8ffc276f391","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"ProcessTSDSData","comments":"","instanceIdentifier":"84c53791-32ee-19b8-8710-a80d1cbe5037"},"destination":{"id":"4652f129-3d20-3fe9-9d16-425c6a5f11d6","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"62a6333e-df1e-13ce-9797-e0c3f737d375"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"cf06e479-d2dc-3fdf-88ac-6cd4c2982447","instanceIdentifier":"cb713565-9b17-14ab-ffff-ffffb92dceee","name":"","source":{"id":"33d48011-173d-3318-a46d-a70f770f7578","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"188839f2-08e6-11e4-b1df-da5c2e2106b1"},"destination":{"id":"92f2827b-6dee-3775-b0b5-ff2d1be7184e","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"InvokeHTTP","comments":"","instanceIdentifier":"cb71354c-9b17-14ab-8e66-9c05965ef5c4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"48724a7e-87f0-33fe-a1ab-8df976bad260","instanceIdentifier":"cb7136ac-9b17-14ab-ffff-ffff99adcc0d","name":"","source":{"id":"92f2827b-6dee-3775-b0b5-ff2d1be7184e","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"InvokeHTTP","comments":"","instanceIdentifier":"cb71354c-9b17-14ab-8e66-9c05965ef5c4"},"destination":{"id":"bf7d3c40-ba61-341c-aabd-7eab73e66c28","type":"FUNNEL","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"Funnel","comments":"","instanceIdentifier":"cb713649-9b17-14ab-ffff-fffffdb6673d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"f67112d2-02b8-3d59-bd2e-c4058e812737","instanceIdentifier":"be29bffe-018e-1000-ffff-ffff9ca98a4a","name":"","source":{"id":"5f4cf50c-58aa-3256-8df5-45679e1aa459","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"ExecuteGroovyScript","comments":"","instanceIdentifier":"bf0f3e23-951b-16d5-b4be-7e30b3c0adaa"},"destination":{"id":"2b9e97d9-664a-39b9-aa80-e66eb3f9550f","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"5ea032e5-c9c1-14b1-8c21-3df772087f70"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"c9802b43-0154-3179-9094-756a62ed7402","instanceIdentifier":"beb60ad6-018e-1000-0000-0000160eacd8","name":"","source":{"id":"49b2d49f-2f10-3f84-b7da-ab2a72d1c511","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"ExecuteScript_18","comments":"","instanceIdentifier":"be6053fa-018e-1000-0000-00004b61aed6"},"destination":{"id":"a0d23760-6910-39b4-82ff-e57858a576ce","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":" 3333","comments":"","instanceIdentifier":"dcaf36b0-9b04-1826-86a9-88e3909a823e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"a6469a9c-d34e-3752-9272-3d9e857b7aab","instanceIdentifier":"8f4b5840-696e-1f24-ffff-ffff94056cb9","name":"","source":{"id":"5c18bc49-fc70-38ed-87d8-e9b72ced4b68","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"GenerateFlowFile","comments":"","instanceIdentifier":"8f4b583d-696e-1f24-0000-00007129eb13"},"destination":{"id":"e0735814-4a98-36f7-ba85-5ac23c57f8e5","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"8f4b5811-696e-1f24-0000-000066387941"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"e3709ba5-bee6-3855-994b-8380906ddebb","instanceIdentifier":"be37a600-018e-1000-ffff-ffffbb3b69d6","name":"","source":{"id":"4ad9bf58-11d5-371a-8376-ad05cd5a40f7","type":"PROCESSOR","groupId":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86","name":"   ","comments":" flow file  ","instanceIdentifier":"df7c3e4f-5677-1c31-8271-b453ae0cb586"},"destination":{"id":"fa076494-b682-36ce-b1cd-801332273636","type":"INPUT_PORT","groupId":"2b49aaaf-fe1c-3699-b96e-d16aaecc4ef4","name":"in","instanceIdentifier":"e5f3318c-3e18-12e9-8732-8685c33d0e42"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"}],"labels":[],"funnels":[{"identifier":"bf7d3c40-ba61-341c-aabd-7eab73e66c28","instanceIdentifier":"cb713649-9b17-14ab-ffff-fffffdb6673d","position":{"x":-1328.4361552359749,"y":2491.073421255398},"componentType":"FUNNEL","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"},{"identifier":"1bf58d0e-d5c4-3608-95b1-c0020c00d9d5","instanceIdentifier":"8f4b3bcf-696e-1f24-0000-000060172625","position":{"x":-424.55600807440885,"y":1097.1986658139133},"componentType":"FUNNEL","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"}],"controllerServices":[{"identifier":"ceba25b9-de30-3741-85e6-3439550316ea","instanceIdentifier":"cb7135a7-9b17-14ab-ffff-ffffa104ccc9","name":"StandardOauth2AccessTokenProvider","comments":"","type":"org.apache.nifi.oauth2.StandardOauth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-oauth2-provider-nar","version":"1.19.1"},"properties":{"grant-type":"client_credentials","authorization-server-url":"https://nkaz.test.pims.rusal.ru/auth/realms/nkaz_test/protocol/openid-connect/token","ssl-context-service":null,"scope":null,"refresh-window":"0 s","HTTP Protocols":"H2_HTTP_1_1","client-id":"test-client","service-user-name":null},"propertyDescriptors":{"grant-type":{"name":"grant-type","displayName":"Grant Type","identifiesControllerService":false,"sensitive":false},"authorization-server-url":{"name":"authorization-server-url","displayName":"Authorization Server URL","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"client-secret":{"name":"client-secret","displayName":"Client secret","identifiesControllerService":false,"sensitive":true},"scope":{"name":"scope","displayName":"Scope","identifiesControllerService":false,"sensitive":false},"refresh-window":{"name":"refresh-window","displayName":"Refresh Window","identifiesControllerService":false,"sensitive":false},"service-password":{"name":"service-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"client-id":{"name":"client-id","displayName":"Client ID","identifiesControllerService":false,"sensitive":false},"service-user-name":{"name":"service-user-name","displayName":"Username","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.oauth2.OAuth2AccessTokenProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8f9f8fc4-a9a9-3647-a18d-4329fafa7a86"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{"51230005-0052-38bf-b7ff-f39af976af45":{"identifier":"51230005-0052-38bf-b7ff-f39af976af45","name":"RedisCache"},"9195a6b6-ea54-3c7a-8508-235571561964":{"identifier":"9195a6b6-ea54-3c7a-8508-235571561964","name":"JsonTreeReader Default"},"fa1b1def-f514-393c-a3c3-e0ff8a0fa178":{"identifier":"fa1b1def-f514-393c-a3c3-e0ff8a0fa178","name":"JsonRecordSetWriter"}},"parameterContexts":{"#clients":{"name":"#clients","parameters":[{"name":"ClientIdZifRtdbMetadata","description":"Client Id zif-rtdb-metadata","sensitive":false,"provided":false,"value":"zif-rtdb-metadata"},{"name":"ClientSecretZifRtdbMetadata","description":"","sensitive":true,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"},"#urls":{"name":"#urls","parameters":[{"name":"ControlRateDefaultMaximumRate","description":"     ControlRate","sensitive":false,"provided":false,"value":"10"},{"name":"UrlSapPo","description":"URL SAP PO     SAP PM, SAP ERP","sensitive":false,"provided":false,"value":"http://rusxiq10.techno.rusal.ru:51000/RESTAdapter/ZF_MES_NKAZ"},{"name":"UrlOmView","description":"URL    ","sensitive":false,"provided":false,"value":"https://nkaz.test.pims.rusal.ru/zif-om-properties-view"},{"name":"UrlRtdbData","description":" ","sensitive":false,"provided":false,"value":"https://nkaz.test.pims.rusal.ru/zif-rtdb-data"},{"name":"UrlRtdbMetadata","description":"Url for zif-rtdb-metadata","sensitive":false,"provided":false,"value":"https://nkaz.test.pims.rusal.ru/zif-rtdb-metadata/api/v0.1"},{"name":"UrlEvents","description":" ","sensitive":false,"provided":false,"value":"https://nkaz.test.pims.rusal.ru/zif-events"},{"name":"UrlRdmCommon","description":"URL  ","sensitive":false,"provided":false,"value":"https://nkaz.test.pims.rusal.ru/zif-rdm-common"},{"name":"url_om","description":"URL   ","sensitive":false,"provided":false,"value":"https://nkaz.test.pims.rusal.ru/zif-om-object"},{"name":"url_rtdb_metadata","description":"  ","sensitive":false,"provided":false,"value":"https://nkaz.test.pims.rusal.ru/zif-rtdb-metadata"},{"name":"UrlOm","description":"url for zif-om-object","sensitive":false,"provided":false,"value":"https://nkaz.test.pims.rusal.ru/zif-om-object"},{"name":"ControlRateDefaultTimeDuration","description":"     ControlRate","sensitive":false,"provided":false,"value":"10 sec"},{"name":"url_rtdb_data","description":" ","sensitive":false,"provided":false,"value":"https://nakz.test.pims.rusal.ru/zif-rtdb-data"},{"name":"PageSize","description":"   ","sensitive":false,"provided":false,"value":"300"},{"name":"url_om_view","description":"URL    ","sensitive":false,"provided":false,"value":"https://nkaz.test.pims.rusal.ru/zif-om-properties-view"},{"name":"url_rdm_common","description":"URL  ","sensitive":false,"provided":false,"value":"https://nkaz.test.pims.rusal.ru/zif-rdm-common"},{"name":"UrlAuth","description":"URL   OAuth2   ","sensitive":false,"provided":false,"value":"https://nkaz.test.pims.rusal.ru/auth/realms/nkaz_test"},{"name":"page_size","description":"   ","sensitive":false,"provided":false,"value":"300"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"},"#databases":{"name":"#databases","parameters":[{"name":"DbUrlOracle","description":"","sensitive":false,"provided":false,"value":"jdbc:oracle:thin:@rgm-s-hypdb.hq.root.ad:1521:HYPPROD"},{"name":"DbDriverClassNameOracle","description":"    Oracle","sensitive":false,"provided":false,"value":"oracle.jdbc.driver.OracleDriver"},{"name":"DbDriverLocationOracle","description":"    ","sensitive":false,"provided":false,"value":"/opt/nifi/nifi-current/extensions/ojdbc"},{"name":"DbUserZMesUser","description":"","sensitive":false,"provided":false,"value":"MES_INTEGRATION_ZIF"},{"name":"DbUrlPostgres","description":" URL      PostgreSQL","sensitive":false,"provided":false,"value":"jdbc:postgresql://nkaz-s-mespgsqldev01n1.hq.root.ad:5432/"},{"name":"DbPasswordPostgres","description":"","sensitive":true,"provided":false},{"name":"DbUserPostgres","description":"","sensitive":false,"provided":false,"value":"admin"},{"name":"DbDriverLocation","description":"","sensitive":false,"provided":false,"value":"/opt/nifi/nifi-current/extensions/jdbc"},{"name":"DbPasswordZMesUser","description":"   ","sensitive":true,"provided":false},{"name":"f_name","description":"","sensitive":false,"provided":false,"value":"nkaz"},{"name":"DbDriverClassNamePostgres","description":"","sensitive":false,"provided":false,"value":"org.postgresql.Driver"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"},"Hyperion":{"name":"Hyperion","parameters":[{"name":"PointSource","description":"PointSource       PostgreSQL","sensitive":false,"provided":false,"value":"hyperion"},{"name":"werkName","description":" ","sensitive":false,"provided":false,"value":"nkaz"},{"name":"dbPostgreSQLSchema","description":"PostgreSQL Schema","sensitive":false,"provided":false,"value":"public"}],"inheritedParameterContexts":["#urls","#clients","#databases"],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}